# drjit
# mitsuba

numpy
matplotlib

--extra-index-url https://download.pytorch.org/whl/cu130
torch
torch-ema
torchvision

accelerate
diffusers
transformers

# For visualization of the optimization process
polyscope
